<h1>Welcome!</h1>
<p>This is an example <a href="/styleguide">styleguide</a>.
  To customize this page, create a file at <code>app/views/kss/home/index.html.erb</code>.</p>

<%= styleguide_block '1.1' do -%>
  <table class="$modifier_class">
    <thead><tr><th>table header</th></tr></thead>
    <tbody>
      <tr><td>one cell in a table</td></tr>
      <tr><td>one cell in a table</td></tr>
    </tbody>
  </table>
<% end -%>
