<%= styleguide_block '1.1' do -%>
  <button class="$modifier_class">Example Button</button>
<% end -%>


<%= styleguide_block '1.1' do -%>
  <table class="$modifier_class">
    <thead><tr><th>table header</th></tr></thead>
    <tbody>
      <tr><td>one cell in a table</td></tr>
      <tr><td>one cell in a table</td></tr>
    </tbody>
  </table>
<% end -%>
